.inline-select {

}

.inline-select .option {
    display: inline-block;
    padding: 10px;
    background-color: #eaeaea;
    color: #4d4d4d;
    font-weight: 300;
    font-size: .9rem;
    text-transform: uppercase;
}

.inline-select .option:first-child {
    border-radius: 5px 0 0 5px;
}

.inline-select .option:last-child {
    border-radius: 0 5px 5px 0;
}

.inline-select .option.selected {
    background-color: #212121;
    color: #eaeaea;
}

.inline-select label {
    display: block;
    margin-bottom: 10px;
    font-size: .9rem;
}
