.overlay {
    position: fixed;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    z-index: 1000;
}

.overlay.open {
    transition: background-color 0.5s;
}

.overlay .wrapper {
    display: none;
}

.overlay .contents {
    background-color: #c3c8cb;
}

.overlay.open {
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 0.5s;
}

.overlay.closing {
    background-color: rgba(0,0,0,0);
}

.overlay.open .contents {
    flex: 1;
    align-self: flex-end;
}

.overlay.open .wrapper {
    position: relative;
    display: block;
}

.overlay header {
    position: relative;
    padding: 20px 0;
    background-color: #212121;
    text-transform: uppercase;
    letter-spacing: 1pt;
}

.overlay .title {
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: 300;
    color: #ffffff;
}

.overlay .close-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: 0;
    font-size: 1.2rem;
    color: #ffffff;
}
