.stock {
    position: relative;
    background-color: #4d4d4d;
    padding: 20px 0 0 0;
}

.stock: first-child {
    margin-top: 0
}

.details {
    position: relative;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    max-width: 120px;
    z-index: 10;
}

.details .symbol {
    font-size: 1.2rem;
    font-weight: bold;
    color: orange;
}

.details .market {
    margin-top: 10px;
}

.market-price {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    color: red;
}
.price-change {
    font-size: .8rem;
    margin-top: 5px;
}

.details .content {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.investment .cost {
    font-size: 1.5rem;
    color: #7f8c8d;
}

.bought-price,
.age {
    font-weight: 300;
}

.return .worth {
    font-size: 1.5rem;
}

.return .current-value {
    font-size: 1.5rem;
    color: #2c3e50;
}

.volatile-value.up {
    color: #27ae60;
}

.volatile-value.down {
    color: #e74c3c;
}

.volatile-value:after {
    font-size: .8rem;
    margin-right: 3px;
}

.volatile-value.up:after {
    content: '▲';
    color: #27ae60;
}

.volatile-value.down:after {
    content: '▼';
    color: #e74c3c;
}

.actions {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999999;
}

.actions li {
  cursor: pointer;
}
