.ticker-summary {
    display: flex;
    color: #9a9a9a;
}

.ticker-summary .column {
    flex: 1;
    text-align: left;
}

.ticker-summary .column:first-child {
    padding-left: 20px;
}

.ticker-summary .column:last-child {
    padding-right: 20px;
}

.ticker-summary .symbol {
    font-size: 1rem;
    color: #9a9a9a;
}

.ticker-summary .quantity {
    font-size: .9rem;
    color: #666666;
    margin-top: 10px;
    display: block;
}

.ticker-summary .price .current {
    color: #D4AF37;
    font-size: 1rem;
    letter-spacing: 1px;
}

.ticker-summary .profit .current {
    font-size: 1rem;
    color: #D4AF37;
    letter-spacing: 1px;
}

.ticker-summary .volatile-value {
    margin-top: 10px;
    font-size: .9rem;
    display: block;
}
