.transaction-form {
    position: relative;
    padding: 20px;
}

.transaction-form form {
    width: 100%;
}

.transaction-form .fields {
    margin-top: 10px;
}

.transaction-form .cta-buttons {
    text-align: right;
}

.fields.inline {
    display: flex;
}

.fields.inline .field {
    display: block;
    flex: 1;
}


.fields.inline .field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #7f8c8d;
    font-size: .9rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.cta-buttons {
    padding: 20px;
    background-color: #efefef;
}

.cta-buttons button {
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.cta-buttons .primary {
    background-color: #3779f2;
    font-size: 1.1rem;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 3px;
    margin-left: 20px;
}

.cta-buttons .secondary {
    background-color: transparent;
    font-size: 1rem;
    color: #888;
}
