.app-root,
.app {
  max-width: 80%;
  margin: 0 auto;
}

.app {
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
}

.volatile-value.up {
    color: #27ae60;
}

.volatile-value.down {
    color: #e74c3c;
}

.volatile-value:after {
    font-size: .8rem;
    margin-right: 3px;
}

.volatile-value.up:after {
    content: '▲';
    color: #27ae60;
}

.volatile-value.down:after {
    content: '▼';
    color: #e74c3c;
}
